/* Website Traffic Section */
.website__traffic{
    margin-top: 120px;
    max-width: 9999px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 600px;
    padding-top: 40px;
    scroll-margin-top: 140px;
}

.website__traffic--container{
    display: flex;
    flex-direction: column;
}

.traffic__banner--icon {
    display: flex;
    justify-content: center;
    /*margin-top: 40px;*/
    margin-bottom: 10px;
}

.traffic__banner--icon svg{
    fill: #131313;
}

.website__traffic--banner{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 460px;
    width: 460px;
    background-color: #131313;
    border-radius: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: 2;
}

.traffic__banner--item{
    border: 2px solid #fff;
    border-radius: 4px;
    width: 400px;
}
.traffic__banner--item h2{
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
}
.traffic__banner--item h3{
    color: #fff;
    margin-bottom: 5px;
}

.traffic__button--container{
    display: flex;
    justify-content: space-around;
}

.button__signup{
    background-color: #c00f0f;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    height: 50px;
    width: 140px;
    color: #fff;
    transition-duration: 0.4s;
    cursor: pointer;
  }
.button__signup:hover{
    color: #131313;
    background-color: #fff;
  }

.button__signin{
    background-color: #131313;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    height: 50px;
    width: 140px;
    color: #fff;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button__signin:hover{
    color: #131313;
    background-color: #fff;
  }

.website__traffic--banner--container{
    display: flex;
    align-items: end;
}

.banner__ilustration--left{
    position: relative;
    left: 20px;
    z-index: 1;
    bottom: 15px;
}

.banner__ilustration--left--sm{
    display: none;
}

.banner__ilustration--right--sm{
    display: none;
}

.banner__ilustration--right{
    position: relative;
    right: 20px;
    z-index: 1;
}

/* New In Section */

.new-in__section{
    max-width: 9999px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #131313;
    height: 41rem;
    scroll-margin-top: 140px;
    position: relative;
    z-index: 100;
}

.new-in__container{
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 0;
    max-width: 1300px;
    width: 1000px;
    margin-right: 1rem;
}

.new-in__header{
    display: flex;
    align-items: start;
    margin: 2rem 0 3rem 0;
    text-align: left;
    flex-direction: column;
}
.new-in__header h1{
    font-size: 3rem;
    color: #fff;
    
}
.new-in__header h2{
    text-align: left;
    font-size: 2rem;
    color: #fff;
}

.new-in__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new-in__media--content h3{
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.5;
    word-spacing: 0.2rem;
    text-align: left;
    margin-bottom: 1.2rem;
    margin-right: 2rem;
}

.new-in__media--content h4{
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
    word-spacing: 0.2rem;
    text-align: left;
    margin-right: 2rem;
}

.event__button--section{
    display: flex;
    justify-content: start;
}

.button__event{
    background-color: #131313;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: bold;
    height: 60px;
    width: 140px;
    color: #fff;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 2rem;
  }

  .button__event:hover{
    color: #131313;
    background-color: #fff;
  }

  .event__learn--more{
    display: flex;
    justify-content: start;
    margin: 0.5rem 2rem 2rem 0;
  }

  .event__learn--more a{
    color: #c8a9a9;
    text-decoration: none;
    font-size: 1.2rem;
    transition-duration: 0.4s;
  }

  .event__learn--more a:hover{
    color: #fff;
  }

.new-in__text--content{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width) */
    overflow: hidden;
    border-radius: 20px;
}

.new-in__text--content iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.user--icon__container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 16rem;
    background-color: #252525;
    margin-left: 1.2rem;
    z-index: 101;
}

.user--icon__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.user--icon__card p{
margin-top: 10px;
color: #fff;
text-align: center;
}

.user--icon{
    border-radius: 50%;
}

.user--icon__header h3{
    text-align: center;
    color: #fff;
    margin: 1rem 0 1rem 0;
}

.new-in__background--bot{
    max-width: 9999px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
    background-image:url(../Images/background_new_in_2.png);
    height: 120px;
    margin-top: 1rem;
}


/*New-in two Section*/
.new-in__two--section{
    max-width: 9999px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 500px;
    scroll-margin-top: 140px;
    padding-top: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
} 

.new-in__two--container{
    max-width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slide__card--header{
    margin-bottom: 2rem;
}

.slide__card--header h1{
    font-size: 3rem;
}

.new-in__slideshow--skatepark img{
    border-radius: 40px ;
    border-radius: 40px ;
    height: auto;
    width: 100%;
}

.slide__card{
    display: none;
    width: 100%;
    height: auto;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

  .slide__show--left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .point__slideshow--bar--hor{
    position: relative;
    top: 10px;
  }

  .slide__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -120px;
  }

  .slide__text p{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
  }

  /*Slideshow Left Side*/
  .slide__show--right{
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  .point__slideshow--bar--ver{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 50px;
  }

  .slideshow__figure--card{
    margin-right: 200px;
    margin-bottom: 60px;
    position: relative;
    left: 560px;
    top: 40px;
    transition: transform 1s ease-in-out;
  }

  .dot__figure{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot__figure:hover{
    background-color: #717171;
}

.slideshow__figure--card{
    display: none;
}

.figure--icon{
    border-radius: 50%;
}



.slide__show--right--head{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 888;
}

.slide__show--right--head h1{
    text-align: center;
}

.slide__show--right--container{
    overflow: hidden;
}

.traffic__value--animatio {
    animation: traffic__value--animatio 2s ease;
  }

@keyframes traffic__value--animatio {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-10px);}
      60% {transform: translateY(-5px);}
  }

  /* Temporary */


#button__winners{
    display: none;
}