* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }

  footer {
    background-color: black;
    color: white;
    padding: 0.5em;
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    height: 160px;
  }

  html {
    height: 100%;
  
  }
  body {
    min-height: 100%;

    
  }
/* Navbar Logo Section */
  
  .navbar{
    max-width: 9999px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0px;
  }

  .navbar__logo--container--backround{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    width: 100%;
    height: 80px;
  }

  .navbar__logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__logo--link{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }

/* Log In Section */

.login__container{
    max-width: 9999px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0px;
    min-height: 100%;
    overflow: hidden;
}

.login__section{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
}

.header__login{
    margin-top: 20px;
}

.button__login--show{
    margin-top: 20px;
}

#show-login{
    font-size: 1.6rem;
    width: 20rem;
    height: 3rem;
    background-color: #fff;
    border: 2px solid #131313;
    border-radius: 4px;
    font-weight: bold;
    color: #131313;
    transition-duration: 0.4s;
    cursor: pointer;
}

#show-login:hover{
    color: #fff;
    background-color: #131313;
}

/*Style for input*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 14px 26px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .input-email-icon{
    padding-left: 30px; 
    background-image: url("../Images/apple_input_login.png"); 
    background-repeat: no-repeat;
    background-position: 5px center; 
    background-size: 20px 20px; 
  }

  .input-password-icon{
    padding-left: 30px; 
    background-image: url("../Images/papaya_input_password.png"); 
    background-repeat: no-repeat;
    background-position: 5px center; 
    background-size: 20px 20px; 
  }

  #login {
    background-color: #fff;
    color: #131313;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #131313;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    transition-duration: 0.4s;
  }
  
  #login:hover {
    background-color: #131313;
    color: #fff;
  }

  #remember-opt{
    accent-color: #131313;
    cursor: pointer;
  }

  .frg__password a{
    color: #131313;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 4px;
  }

  .frg__password a:hover{
    color: #5a5a5a;
    border-bottom: 2px solid #131313;
  }

  .login__opt__container{
    display: flex;
    justify-content: space-between;
  }

form{
    margin-top: 20px;
}

#login__form{
    display: flex;
    position: relative;
    bottom: 80px;
    background-color: #fff;
    transition: transform 0.3s ease;
    width: 30rem;
}

.signin__hide{
    transform: translateY(80px);
    transition: transform 0.3s ease;
}

.signup__show{
    transform: translateY(-200px);
    transition: transform 0.3s ease;
}



.signup__container{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    bottom: 80px;
    background-color: #fff;
    width: 100%;
    border-top: solid 1px #131313;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.header__signup{
    margin-top: 20px;
}

.button__signup--show{
    margin-top: 20px;
}

#show-signup{
    font-size: 1.6rem;
    width: 20rem;
    height: 3rem;
    background-color: #fff;
    border: 2px solid #131313;
    border-radius: 4px;
    font-weight: bold;
    color: #131313;
    transition-duration: 0.4s;
    cursor: pointer;
}

#show-signup:hover{
    color: #fff;
    background-color: #131313;
}

.signup__form--active{
    width: 40%;  
}

.signup__form__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#signup {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .signup__optional{
    margin-top: 20px;
  }

  .signup__optional--form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  /*Password Validate Section*/

  #password-validate-feedback{
    font-size: 0.8rem;
    margin-left: 10px;
    height: 14px;
  }

  /*Customize the label */
  .container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#radio-submit{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signup__move{
  transform: translateY(-80px);
  transition: transform 0.3s ease;
}

#signup__form{
  display: none;
  background-color: #fff;
  transition: transform 0.1s ease;
  position: relative;
  height: 400px;
}

.signup__move{
  transform: translateY(-80px);
  transition: transform 2s ease;
}

/* Footer Section */

.footer__container{
    max-width: 9999px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0px;
    bottom: 0;
}

.footer__section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
}

